<template lang="pug">
.frow-container
	.frow.centered
		.col-md-1-3(style="margin-top: calc(15vh)")
			h1
				i.fas.fa-sun.fa-5x
			h1.mb-25 Incorporating Impromptus
			h2.mb-25 Fake Until You Make
			router-link(to="/about")
				mu-button.mr-10(color='primary')  Infotainment
			router-link(to="/ad-hoc	")
				mu-button(color="secondary" @click='openAlertDialog') Advertorial 

	mu-dialog(title='All Greek To You Too?' width='600' max-width='80%' :esc-press-close='false' :overlay-close='false' :open.sync='openAlert')
		i.fas.fa-university.fa-3x.p-30
		| Cθ οδιο μθcιθσ ηισ, εθμ αλιι γραεcε δελιcατισσιμι ιδ, θτ παθλο qθαλισqθε εοσ. Ειρμοδ οπτιον qθαεστιο ιν μει. Cετεροσ αccθσαμθσ vιμ τε. Ενιμ cονσθλ ατομορθμ πρι ιν, νο ιγνοτα σθσcιπιαντθρ εοσ. Νονθμεσ προβατθσ vολθπτατιβθσ εαμ θτ, ωισι φιερεντ δελεcτθσ αδ vελ. Πριμισ εριπθιτ vθλπθτατε νο μει, τε qθι λεγιμθσ σθσcιπιτ περιcθλισ. Ερατ προπριαε ετ δθο, ιριθρε cορπορα μενανδρι εα εθμ.

		mu-button(slot='actions' raised color='primary' @click='closeAlertDialog') Never
		mu-button(slot='actions' raised color='secondary' @click='closeAlertDialog') Forever    
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>
