<template lang="pug">
#app
	mu-appbar(style='width: 100%;' color='primary')
		mu-button(icon slot='left' to="/")
			mu-icon.md-36(value='directions_bike')
		span.ml-10(slot="left" style="font-size: 22px")
			| Associated Impromptu Press
		mu-menu(slot='right')
			mu-button(flat)
				i.material-icons.md-36.mr-15 local_library
				| Printed Pressure
			mu-list(slot='content')
				mu-list-item(button to="/about")
					mu-list-item-content
						mu-list-item-title
							i.fas.fa-moon.mr-15
							| Hearst

				mu-list-item(button to="/beef")
					mu-list-item-content
						mu-list-item-title
							i.material-icons.md-24.mr-15 room_service
							| McClatchy

				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title
							i.material-icons.md-24.mr-15 local_dining
							| Gannett

				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title
							i.material-icons.md-24.mr-15 my_location
							| Scripps
				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title
							i.material-icons.md-24.mr-15 autorenew
							|  Times-Mirror

				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title
							i.material-icons.md-24.mr-15 waves
							|  Tribune Publishing
				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title
							i.material-icons.md-24.mr-15 directions_run
							|  Crain Communication
				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title
							i.material-icons.md-24.mr-15 local_drink
							|  Bay Area News Group
				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title
							i.material-icons.md-24.mr-15 local_dining
							|  Fourth Estate
				mu-list-item(button to="/bivalves")
					mu-list-item-content
						mu-list-item-title
							i.fas.fa-archway.fa-lg.mr-15
							|  Cox Media Group
				mu-list-item(button to="/bivalves")
					mu-list-item-content
						mu-list-item-title
							i.fas.fa-bomb.fa-lg.mr-15
							|  NEWS Corporation

		mu-button(flat slot="right" color='primary' style='margin-left: 16px' @click='open = !open')
			i.material-icons.md-35.mr-15 tv
			| Wired For TV	

		mu-drawer(:open.sync='open' :docked='docked' :right='position === \'right\'')
			mu-list
				mu-list-item(button)
					mu-list-item-title Microsoft NBC
				mu-list-item(button)
					mu-list-item-title National Broadcasting
				mu-list-item(button)
					mu-list-item-title Columbia Broadcasting
				mu-list-item(button)
					mu-list-item-title Fox News
				mu-list-item(button)
					mu-list-item-title Telemundo
				mu-list-item(button)
					mu-list-item-title Univision
				mu-list-item(button)
					mu-list-item-title Cable News Network
				mu-list-item(button)
					mu-list-item-title Bloomberg
				mu-list-item(button)
					mu-list-item-title Al-Jazeera America
				mu-list-item(@click='open = false' button)
					mu-list-item-title Close

	router-view

</template>

<script>
export default {
  data () {
    return {
      docked: false,
      open: false,
      position: 'left'
    }
  }
}
</script>

<style lang="scss">
#app {
	font-family: "News Cycle", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

mu-list-item:hover {
	text-decoration: none;
}

</style>
